.swiper {
    width: 100% !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    position: relative !important;
}

.swiper-slide {
    background-position: center !important;
    background-size: cover !important;
    width: 300px !important;
    width: 27% !important;
    /* height: 300px; */
}

.swiper-slide img {
    display: block !important;
    width: 100% !important;
    transform: scale(0.69) !important;
    opacity: 0.5 !important;
    transition: all 0.6s ease-out !important;
    min-width: 120px !important;
}
.swiper-slide-active img {
    transform: scale(1) !important;
    opacity: 1 !important;
}
.swiper-slide-active img:hover {
    filter: brightness(110%) !important;
}

/* 날먹 커스텀 버튼 */
.swiper-button-next {
    font-family: "LeeSeoyun" !important;
    display: block !important;
    font-size: 20px !important;
    padding: 40px 20px !important;
    width: 100px !important;
    height: 100px !important;
    border-radius: 50% !important;
    text-align: center !important;
    line-height: 1 !important;
    -webkit-appearance: none !important ;
    appearance: none !important;
    background-color: snow !important ;
    color: #333 !important;
    border: none !important;
    cursor: pointer !important;
    position: absolute !important;
    top: 38% !important;
    right: 20% !important;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s !important;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25) !important;
}
.swiper-button-next:focus {
    outline: 0 !important;
}
.swiper-button-next:before,
.swiper-button-next:after {
    position: absolute !important;
    content: "" !important;
    display: block !important;
    width: 140% !important;
    height: 100% !important ;
    left: -20% !important;
    z-index: -1000 !important ;
    transition: all ease-in-out 0.5s !important;
    background-repeat: no-repeat !important;
}
.swiper-button-next:before {
    display: none !important;
    top: -55% !important;
    background-image: radial-gradient(circle, #666 20%, transparent 20%), radial-gradient(circle, transparent 20%, #eee 20%, transparent 30%),
        radial-gradient(circle, #eee 20%, transparent 20%), radial-gradient(circle, #eee 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #666 15%, transparent 20%), radial-gradient(circle, #666 20%, transparent 20%),
        radial-gradient(circle, #eee 20%, transparent 20%), radial-gradient(circle, #eee 20%, transparent 20%),
        radial-gradient(circle, #666 40%, transparent 40%) !important;
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18% !important;
}
.swiper-button-next:after {
    display: none !important;
    bottom: -65% !important;
    background-image: radial-gradient(circle, #eee 60%, transparent 60%), radial-gradient(circle, #eee 60%, transparent 60%),
        radial-gradient(circle, transparent 10%, #666 15%, transparent 20%), radial-gradient(circle, #666 20%, transparent 20%),
        radial-gradient(circle, #eee 35%, transparent 35%), radial-gradient(circle, #666 35%, transparent 35%),
        radial-gradient(circle, #eee 20%, transparent 20%) !important;
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20% !important;
}
.swiper-button-next:active {
    transform: scale(0.9) !important;
    background-color: #888 !important;
    box-shadow: 0 2px 25px rgba(255, 255, 255, 0.7) !important;
}
.swiper-button-next.animate:before {
    display: block !important;
    animation: topBubbles ease-in-out 0.75s forwards !important;
}
.swiper-button-next.animate:after {
    display: block !important;
    animation: bottomBubbles ease-in-out 0.75s forwards !important;
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.swiper-button-prev {
    font-family: "LeeSeoyun" !important;
    display: block !important;
    font-size: 20px !important;
    padding: 40px 20px !important;
    width: 100px !important;
    height: 100px !important;
    border-radius: 50% !important;
    text-align: center !important;
    line-height: 1 !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    background-color: #f53c36 !important;
    color: #fff !important;
    border: none !important;
    cursor: pointer !important ;
    position: absolute !important ;
    top: 38% !important;
    left: 20% !important ;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s !important;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25) !important ;
}
.swiper-button-prev:focus {
    outline: 0 !important;
}
.swiper-button-prev:before,
.swiper-button-prev:after {
    position: absolute !important;
    content: "" !important ;
    display: block !important;
    width: 140% !important ;
    height: 100% !important;
    left: -20% !important;
    z-index: -1000 !important;
    transition: all ease-in-out 0.5s !important;
    background-repeat: no-repeat !important;
}
.swiper-button-prev:before {
    display: none !important;
    top: -55% !important;
    background-image: radial-gradient(circle, #f53c36 20%, transparent 20%), radial-gradient(circle, transparent 20%, #eee 20%, transparent 30%),
        radial-gradient(circle, #f53c36 20%, transparent 20%), radial-gradient(circle, #f53c36 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #f53c36 15%, transparent 20%), radial-gradient(circle, #f53c36 20%, transparent 20%),
        radial-gradient(circle, #f53c36 20%, transparent 20%), radial-gradient(circle, #f53c36 20%, transparent 20%),
        radial-gradient(circle, #f53c36 40%, transparent 40%) !important;
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18% !important;
}
.swiper-button-prev:after {
    display: none !important;
    bottom: -65% !important;
    background-image: radial-gradient(circle, #f53c36 60%, transparent 60%), radial-gradient(circle, #f53c36 60%, transparent 60%),
        radial-gradient(circle, transparent 10%, #f53c36 15%, transparent 20%), radial-gradient(circle, #f53c36 20%, transparent 20%),
        radial-gradient(circle, #f53c36 35%, transparent 35%), radial-gradient(circle, #f53c36 35%, transparent 35%),
        radial-gradient(circle, #f53c36 20%, transparent 20%) !important;
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20% !important;
}
.swiper-button-prev:active {
    transform: scale(0.9) !important;
    background-color: #f3645f !important;
    box-shadow: 0 2px 25px rgba(255, 255, 255, 0.7) !important;
}
.swiper-button-prev.animate:before {
    display: block !important;
    animation: topBubblesprev ease-in-out 0.75s forwards !important;
}
.swiper-button-prev.animate:after {
    display: block !important;
    animation: bottomBubblesprev ease-in-out 0.75s forwards !important;
}

@keyframes topBubblesprev {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
@keyframes bottomBubblesprev {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

/* 음식이름 */
.swiper-wrapper .swiper-name {
    padding: 10px 60px !important;
    background: rgba(255, 255, 255, 0.7) !important;
    border-radius: 50px !important;
    font-size: 20px !important;
    line-height: 20px !important ;
    width: fit-content !important;
    margin: 0 auto !important;
    font-family: "LeeSeoyun";
    opacity: 0.3 !important;
    transform: scale(0.5) !important;
    transition: all 0.5 s ease !important;
    min-width: 120px !important;
}
.swiper-slide-active .swiper-name {
    opacity: 1 !important;
    transform: scale(1) !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}
